#aboutme {
  text-align: center;
}

.about-me-section-description {
  text-align: justify;
  margin-top: 40px;
}

.aboutme-icons {
  font-size: 25px;
  margin-top: 45px;
  margin-bottom: 35px;
}

.aboutme-icon > a {
  text-decoration: none;
}

.aboutme-icon {
  margin: 2px;
  color: var(--titlesectionsecondarycolour);
}

.aboutme-icon:hover {
  cursor: pointer;
  color: var(--titlesectiontetiarycolour);
}

.aboutme-download-link > a {
  color: var(--titlesectionsecondarycolour);
  border: solid var(--titlesectionsecondarycolour) 1px;
  padding: 15px 20px;
  border-radius: 5px;
  text-decoration: none;
}
