

                *{
                  box-sizing: border-box;
                  font-family: Verdana;
                }

                :root {
                  --titlesectionprimarycolour: white ;
                  --titlesectionsecondarycolour: rgb(116, 156, 194) ;
                }

               html, body {
                  margin: 0px;
                  padding: 0px;

                }

                .main-section {
                  width: 100vw;
                  height: 100vh;
                  background-size: cover;
                  padding: 25px;
                }

                .misc-section {
                  width: 100vw;
                  padding: 100px 25px;
                }
                
                .text-block-container {
                  width: 65%;
                  margin: 0 auto;
                }
 
              
                
               

               

                

               
              