

                *{
                  box-sizing: border-box;
                  font-family: Verdana;
                }

                :root {
                  --titlesectionprimarycolour: white ;
                  --titlesectionsecondarycolour: rgb(116, 156, 194) ;
                }

               html, body {
                  margin: 0px;
                  padding: 0px;

                }

                .main-section {
                  width: 100vw;
                  height: 100vh;
                  background-size: cover;
                }

                
                 #title {
                  color: var(--titlesectionprimarycolour);
                  text-align: center;
                  padding-top: 200px;
                  background-image: url("../images/snow.avif");
                  background-position: center top;
                 
                }

                .title-section-button {
                  color: var(--titlesectionprimarycolour);
                  border: solid var(--titlesectionprimarycolour) 1px;
                  padding: 15px 20px;
                  background-color: transparent;
                  border-radius: 5px;
                }
                

                .title-section-button:hover {
                  background-color: var(--titlesectionprimarycolour);
                  color: var(--titlesectionsecondarycolour);
                  cursor: pointer;
                }

              
                
               

               

                

               
              